@use 'variables' as *;

body {
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

h2 {
  color: $secondaryColor;
  font-weight: bold;
  font-size: 26px;
  margin-top: 40px;
}

.error {
  align-items: center;
  color: $secondaryColor;
  display: flex;
  flex-direction: column;
  font-family: $secondFont;
  justify-content: center;
  min-height: 90vh;
  width: 100%;

  h1 {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 16px;
  }
}
